# Provider Configuration
az_client_id     = "${ARM_CLIENT_ID}"     # <Azure Service Principal appId>
az_client_secret = "${ARM_CLIENT_SECRET}" # <Azure Service Principal password>
az_tenant        = "${ARM_TENANT_ID}"     # <Azure Service Principal tenant_id>

# Remote State Configuration
az_rs_storage_account_key = "${ARM_ACCESS_KEY}" # <Azure Storage Account Key>