# Provider Configuration
az_client_id           = <Azure Service Principal appId>
az_client_secret       = <Azure Service Principal password>
az_tenant              = <Azure Service Principal tenant_id>

# Remote State Configuration
az_rs_storage_account_key = <Azure Storage Account Key>